.home{
    padding-top: 5rem;
    margin: auto;
}

.home h1 {
    margin:auto;
    width: 60%;
    font-size: 90px;
    text-align: center;
}

.query {
    display: flex;
    width: 90%;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 10rem;
}

input {
    margin: 1rem 1rem 0rem 2rem;
}