.title{
    font-size: 50px;
    color: #6567FF;
    margin-bottom: 3rem;
}

.travelInfo h3 {
    margin-right: 3rem;
}

.location {
    font-style: italic;
    color: black;
    font-weight: 300%;
}

.timeline {
    color: #6567FF;
    justify-content: center;
}

.travelInfo {
    display: flex;
    flex-direction: row;
}

.box {
    flex-direction: column;
    justify-content: center;
     display:flex;
     width: 15rem;
     background-color: white;
     margin: .5rem;
     border-radius: 10px;
     box-shadow: 0 1px 3px rgba(0,0,0,0.16),0 1px 3px rgba(0,0,0,0.23);
     text-align: center;
}

.title-n-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timelineDetail {
    padding: 1% 0;
}

.timelineDetail div {
    display: flex;
}

.timelineDetail ol {
    margin: 0rem 0rem 3rem 0rem;
    display: inherit;
    flex-direction: column;
    padding: 0;
}

.timelineDetail h3 {
    color: black;
}

.box {
    margin-right: 2rem;
    margin-left: 2rem;
    width: 15rem;
}

.prep .box {
    background-color: #D9CFFF;
    margin-left: 2.6rem;
    width: 14.9rem
}

.test .box {
    background-color: #B2A0F8;
    width: 15.2rem;
}

.flight .box {
    background-color: #896AFF;
}

.quar .box {
    background-color: #624DB5;
}

.time-stamp {
    padding: 0;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.timeline-body {
    display: flex;
    flex-direction: row;
}

.date {
    display: flex;
    flex-direction: row;
    margin: 0;
    color: #4C4B4A;
    font-size: 0.9rem;
    font-style: italic;
    font-weight: bold;
}

hr {
    transform: rotate(90deg);
    padding: 0;
    margin: 0 35% 0 0.5%;
    height: 13px;
    color: black;
    border-width: 2px;
    border-style: solid;
    position: relative;
}

.date-box {
    display: flex;
    flex-direction: row;
    margin: 0 1% 0 0.4%;
    padding: 0;
    border: none;
}

.quarantine-date {
    display: flex;
    flex-direction: column;
    margin-left: 0.4%;
    margin-right: 1%;
    justify-content: space-between;
}

.timeline-body li {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

.title-n-option, .timeline-body {
    margin-left: 3rem;
}

.todo-items li {
    font-size: 25px;
}

.timeline-body a {
    text-decoration: underline;
}

